<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>shake_the_rooster_2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>20A364081CAD7C6B004E9832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20A3641C1CAD7C6C004E9832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20A364271CAD7C6C004E9832</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
